
@media print {
  @page {
    size: letter;
    margin: 0.6in;
  }
  body pre {
    font-family: Menlo, Andale Mono, monospace;
    font-size: 9pt;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
